.containerProfile {
    overflow-y: hidden;
  position: relative;
  width: 100%;
   height: 100vh; 
  display: flex;
  background-color: rgba(239, 243, 249, 1);
  z-index: 2;
}

.containerProfile  .containerMenu {
    position: fixed;
    z-index: 1000;
}
.imgBg {
  top: 0;
  background: linear-gradient(124deg, #003BE5 12.08%, #00D5E2 86.52%);
  position: absolute;
  height: 15rem;
  width: 100%;
}

.page-profile {
  margin-top: 16rem;
  margin-left: 25rem;
  z-index: 100;
  height: 73.5vh;
  margin-left: 5rem;
  width: 100%;
}

.imgPerfilEdit {
  margin-top: 7rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
}

.imgPerfilEdit,
.profile-image {
  width: 15rem;
  height: 15rem;
  border: 1px solid rgb(37, 37, 35);
  border-radius: 15rem;
  background-color: rgba(239, 243, 249, 1);
  box-shadow: -9px 8px 8px 0px rgba(0, 0, 0, 0.20);
  z-index: 1;

}

.titleProfile {
  color: var(--gray-700, #3D495C);
  font-family: Epilogue;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.nameProfile {
  color: var(--gray-700, #3D495C);
  font-family: Epilogue;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btnEdit {
  width: 9.5rem;
  height: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 6.25rem;
  background: #003BE5;
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.description {
  color: var(--gray-700, #3D495C);
  font-family: Epilogue;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 30.625rem;
  height: 8.1875rem;
  flex-shrink: 0;
}