.containerSearch {
  display: flex;
  width: 100%;
  background-color: #EFF3F9;
  text-align: center;
}

.page-search {
  height: 20rem;
  width: calc(100vw - 20rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(124deg, #003BE5 12.08%, #00D5E2 86.52%);
}

.search-artist-input {
  width: 25rem;
  height: 2.5rem;
  border-radius: 1.4375rem;
  background: rgba(255, 255, 255, 0.50);
  color: rgba(255, 255, 255, 1);

  font-family: Epilogue;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.search-artist-button {
  width: 7.125rem;
  height: 2.5rem;
  border-radius: 1.4375rem;
  background: #00D5E2;
  color: #FFF;
  font-family: Epilogue;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.search-artist-input::placeholder {
  font-size: 1rem;
  color: #FFF;
  text-align: center;
}

.AllAlbuns {
  display: grid;
  grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
  gap: 30px;
  justify-content: center;
}

.container-albums,
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.container-albums {
  width: 12.5rem;
  height: 15.5625rem;
 
}

.imgAlbum {
  width: 12.5rem;
  height: 12.5rem;
}

.titleSearch {
  padding: 2rem;
  color: #003BE5;
  text-align: center;
  font-family: Epilogue;
  font-size: 1.55rem;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}